[project]
name = "pythonstructuralsolver"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.14"
dependencies = [
    "numpy>=2.4.0",
    "scipy>=1.16.3",
    "torch>=2.9.1",
]
